@import 'CSS:../../bower_components/normalize-css/normalize';

@font-face {
    font-family: font;
    src: url(fonts/font.otf);
}

.cb{clear:both; height:0; width:0; overflow:hidden;}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

.container{width: 1200px; margin:0 auto;}


/*---HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
header{  height: 200px;}
.head{}
.head__logo{  display: inline-block;}
header .phones{  display: inline-block;}
header .phone{}
header .email{display: block;}

header nav{text-align: center;}
header nav li{  display: inline-block;  margin: 20px 18px;}

/*---CONTENT---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.content{min-height: 500px;}

/*---FOOTER---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
footer{  position: relative;  height: 200px;}

/*---COPYRIGHT---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@keyframes sitehit{from{box-shadow:0 0 2px rgba(255, 0, 0, 1),0 0 2px rgba(255, 0, 0, 1)}
to{box-shadow:0 0 10px rgba(255, 0, 0, 1),0 0 16px rgba(255, 0, 0, 1)}
}
@keyframes sitehiton{from{box-shadow:0 0 0px #13FF00,0 0 0px #13FF00}
to{box-shadow:0 0 10px #13FF00,0 0 16px #13FF00}
}
@-webkit-keyframes sitehit{from{box-shadow:0 0 2px rgba(255, 0, 0, 1),0 0 2px rgba(255, 0, 0, 1)}
to{box-shadow:0 0 10px rgba(255, 0, 0, 1),0 0 16px rgba(255, 0, 0, 1)}
}
@-webkit-keyframes sitehiton{from{box-shadow:0 0 0px #13FF00,0 0 0px #13FF00}
to{box-shadow:0 0 10px #13FF00,0 0 16px #13FF00}
}
.copyright-sh {position: absolute; bottom: 0; margin-left: 750px; height: 40px; overflow: hidden; background: rgba(100, 100, 100, 0.08); border-radius: 4px 4px 0px 0px; transition: all 400ms ease 0s; -webkit-animation: sitehit 0.800s linear infinite alternate; -ms-animation: sitehit 0.800s linear infinite alternate; -moz-animation: sitehit 0.800s linear infinite alternate; -o-animation: sitehit 0.800s linear infinite alternate; animation: sitehit 0.800s linear infinite alternate; z-index: 100;}
.copyright-sh a{color: #F4E2C2; text-decoration: none; cursor: pointer;}
.copyright-sh .logo-sh-img-on {background: url(img/site-hit-on.png) no-repeat; height: 40px; width: 90px; opacity: 0; transition: all 400ms ease 0s; position: absolute;}
.copyright-sh .logo-sh-img-off {background: url(img/site-hit-off.png) no-repeat; height: 40px; width: 90px; opacity: 1; transition: all 400ms ease 0s; }
.copyright-sh .txt-sh-link {position: absolute; margin-top: -15px; text-align: center; width: 90px; font-size: 9px; text-transform: lowercase; color: #666; transition: all 400ms ease 0s; }
.copyright-sh:hover {transition: all 400ms ease 0s; height: 51px; margin-top: -12px; background: #FFF; -webkit-animation: sitehiton 0.300s linear infinite alternate; -ms-animation: sitehiton 0.300s linear infinite alternate; -moz-animation: sitehiton 0.300s linear infinite alternate; -o-animation: sitehiton 0.300s linear infinite alternate; animation: sitehiton 0.300s linear infinite alternate;}
.copyright-sh:hover .logo-sh-img-on {opacity: 1;}
.copyright-sh:hover .logo-sh-img-off {opacity: 0;}
.copyright-sh:hover .txt-sh-link {color: #09B800;}